body {
    color: midnightblue;
    background-color: lightcyan;
    font-family: "Verdana", "Arial", sans-serif;
}

h1, h2, h3 {
    color: black;
}

nav {
    border: 2px solid black;
}

h1 {
    font-family: "Impact", fantasy;
    font-size: 2em;
}

a:hover {
    color: yellow;
}

a:focus {
    color: orange;
}

a:active {
    color: yellowgreen;
}
