body {
    color: midnightblue;
    background-color: lightcyan;
    font-family: "Verdana", "Arial", sans-serif;
}

h1, h2, h3 {
    color: black;
}

nav {
    border: 2px solid black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    text-align: center;
    flex: 1;
}

h1 {
    font-family: "Impact", fantasy;
    font-size: 4em;
}

img {
    width: 100%;
    height: auto;
}

a:hover {
    color: gold;
}

a:focus {
    color: orange;
}

a:active {
    color: yellowgreen;
}
